---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from '../components/BlogPost.astro';

const allPosts = await Astro.glob("../pages/posts/*.md");

const pageTitle: string = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>let's talk about development</h2>

	<p>Here i'm going to post about my learning in astro</p>

	<ul>
		{
			allPosts.map((post) => (
				<BlogPost url={post.url} title={post.frontmatter.title}/>
			))
		}
	</ul>
</BaseLayout>
