---
import Social from './Social.astro'
---

<footer>
  <p>Discover my projects in</p>
  <Social platform="github" username="brakito"} />
  <Social platform="behance" username="arkane-design"/>
</footer>

<style>
  footer {
    background-color: gainsboro;
    padding: 1rem;
  }

  p {
    margin-bottom: 1rem;
  }
</style>