---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---

<header>
 <h2>LOGO</h2>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>

<style>
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>